extends layout

block title
  title ES Discuss - About

block navsections
  li
    a(href='/1') Topics
  li
    a(href='/notes') Notes
  li.active
    a(href='/about') About


block content
  .row
    .col-md-12
      .notes
        h1 About
        p.
          Since this is a website about JavaScript, and it's built in Node.js, I thought people might be interested in how it all works.  It's a really nice interesting example of a medium scale Node.js app.  It makes use of both streams and promises in important ways.

        h2 Architecture
        :markdown-it
          This website consists of two Node.js servers and a MongoDB database.  The **bot** is available at [http://pipermail-bot.jit.su](http://pipermail-bot.jit.su) if you want to see the current status, and you can view statistics in the graphs on this page.  The **website** is available at [http://esdiscuss.org](http://esdiscuss.org) and you're looking at it right now.

        :markdown-it
          The bot consists of two key modules

           - The [pipermail](https://github.com/esdiscuss/pipermail) module is responsible for downloading and parsing the esdiscuss archives.  It outputs a stream of JSON objects, each of which contain the parsed header and the body of an e-mail.

           - The [bot](https://github.com/esdiscuss/bot) reads the parsed output of the pipermail bot and stores it in MongoDB.
