extends layout

block content
  a(href="https://github.com/esdiscuss/esdiscuss.org")
    img.ribbon(src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png", alt="Fork me on GitHub")
  .jumbotron.masthead
    .row
      .col-md-12
        h1 JacksonScript Discussion and Meeting Archives
    .row
      .col-md-8.col-md-offset-2
        p This site aims to provide an easily browsable, nicely formatted archive of all the email correspondence on the jacksonscript@jacksonscript.org mailing list as well as the notes and presentations for each meeting.
    .row
      .col-md-4.col-md-offset-2
        a(href='/1').btn.btn-lg.btn-primary.btn-block
          i.icon-list
          | &nbsp; View Discussion
      .col-md-4
        a(href='/notes').btn.btn-lg.btn-primary.btn-block
          i.icon-copy
          | &nbsp; View Meeting Notes
    .row(style="margin-top: 30px;")
      .col-md-8.col-md-offset-2
        a(href='https://jacksonscript.org/cgi-bin/mailman/listinfo/jacksonscript').btn.btn-lg.btn-primary.btn-block
          i.icon-star
          | &nbsp; Subscribe
