extends layout

block content
  .row-fluid
    .offset2.span8
      .hero-unit
        h1 ES Discuss Archives
        p This site aims to provide an easilly browsable nicely formatted copy of all the e-mail correspondence on the ES Discuss mailing list.
        p This is the only way to be involved in the next version of JavaScript
        a(href='/1').btn.btn-large.btn-primary.btn-block View Topics
        a(href='/notes').btn.btn-large.btn-primary.btn-block View Notes
