extends layout

block content
  a(href="https://github.com/esdiscuss/esdiscuss.org")
    img.ribbon(src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png", alt="Fork me on GitHub")
  .jumbotron.masthead
    .row
      .col-md-12.col-mdoffset-1
        h1 EcmaScript Discuss Archives
    .row
      .col-md-8.col-md-offset-2
        p This site aims to provide an easilly browsable nicely formatted copy of all the e-mail correspondence on the ES Discuss mailing list.
        p This is the only way to be involved in the next version of JavaScript
    .row
      .col-md-4.col-md-offset-2
        a(href='/1').btn.btn-lg.btn-primary.btn-block
          i.icon-list
          | &nbsp; View Topics
      .col-md-4
        a(href='/notes').btn.btn-lg.btn-primary.btn-block
          i.icon-copy
          | &nbsp; View Notes
