!!! 5
html
  head
    title ES Discuss
    link(href='https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css', rel='stylesheet')
    style
      .previous a, .next a {
        cursor: pointer;
      }
  body
    .content
      .row-fluid(style='height:50px')
      .row-fluid
        .offset2.span8
          .hero-unit
            h1 ES Discuss Archives
            p This site aims to provide an easilly browsable nicely formatted copy of all the e-mail correspondence on the ES Discuss mailing list.
            p This is the only way to be involved in the next version of JavaScript
            a(href='/1')#view-topics.btn.btn-large.btn-primary.btn-block View Topics