extends layout

block content
  .jumbotron.masthead
    .row
      .span10.offset1
        h1 EcmaScript Discuss Archives
    .row
      .span8.offset2
        p This site aims to provide an easilly browsable nicely formatted copy of all the e-mail correspondence on the ES Discuss mailing list.
        p This is the only way to be involved in the next version of JavaScript
    .row
      .span4.offset2
        a(href='/1').btn.btn-large.btn-primary.btn-block
          i.icon-list
          | &nbsp; View Topics
      .span4
        a(href='/notes').btn.btn-large.btn-primary.btn-block
          i.icon-copy
          | &nbsp; View Notes
