extends layout

block content
  a(href="https://github.com/esdiscuss/esdiscuss.org")
    img.ribbon(src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png", alt="Fork me on GitHub")
  .jumbotron.masthead
    .row
      .span10.offset1
        h1 EcmaScript Discuss Archives
    .row
      .span8.offset2
        p This site aims to provide an easilly browsable nicely formatted copy of all the e-mail correspondence on the ES Discuss mailing list.
        p This is the only way to be involved in the next version of JavaScript
    .row
      .span4.offset2
        a(href='/1').btn.btn-large.btn-primary.btn-block
          i.icon-list
          | &nbsp; View Topics
      .span4
        a(href='/notes').btn.btn-large.btn-primary.btn-block
          i.icon-copy
          | &nbsp; View Notes
