!!! 5
html
  head
    meta(charset='utf-8')
    title ES Discuss
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block head
    link(href='//netdna.bootstrapcdn.com/bootswatch/2.3.1/readable/bootstrap.min.css', rel='stylesheet')
    link(href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css', rel='stylesheet')
    link(href=asset('/style.css'), rel='stylesheet')
    link(href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css', rel='stylesheet')
  body
    #wrap
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.brand(href='/') ES Discuss
            .nav-collapse.collapse
              ul.nav
                block navsections
                  li
                    a(href='/1') Topics
                  li
                    a(href='/notes') Notes
              block navigation
      #content.container
        block content
      #push
    #footer-wrapper
      footer
        .right
          script(data-gittip-username="esdiscuss", src="https://www.gittip.com/assets/widgets/0002.js")
        p
          | Developed by&nbsp;
          a.jepso(href='http://www.forbeslindesay.co.uk') @ForbesLindesay
          |  hosted by&nbsp;
          a.jepso(href='https://www.nodejitsu.com/') @nodejitsu
          |  run by&nbsp;
          a.jepso(href='https://www.jepso.com') JEPSO
        p By using this site you consent to the use of cookies

    script(src='http://code.jquery.com/jquery-1.9.1.min.js')
    script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js')
    block scripts
    //- RUM code for pingdom
    script.
      var _prum={id:"516d5db9abe53d5e4e000000"};var PRUM_EPISODES=PRUM_EPISODES||{};PRUM_EPISODES.q=[];PRUM_EPISODES.mark=function(b,a){PRUM_EPISODES.q.push(["mark",b,a||new Date().getTime()])};PRUM_EPISODES.measure=function(b,a,b){PRUM_EPISODES.q.push(["measure",b,a,b||new Date().getTime()])};PRUM_EPISODES.done=function(a){PRUM_EPISODES.q.push(["done",a])};PRUM_EPISODES.mark("firstbyte");(function(){var b=document.getElementsByTagName("script")[0];var a=document.createElement("script");a.type="text/javascript";a.async=true;a.charset="UTF-8";a.src="//rum-static.pingdom.net/prum.min.js";b.parentNode.insertBefore(a,b)})();