doctype html
html
  head
    meta(charset='utf-8')
    block title
      title ES Discuss
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block head
    link(href='https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css', rel='stylesheet')
    link(href='/style.css', rel='stylesheet')
  body
    #wrap
      .navbar.navbar-fixed-top.navbar-inverse
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            .pull-left
              img.logo(src=asset('/logo.svg'))
            a.navbar-brand(href='/') Discuss
          .collapse.navbar-collapse
            ul.nav.navbar-nav
              block navsections
                li
                  a(href='/1') Topics
                li
                  a(href='/notes') Notes
                li
                  a(href='/about') About
            block navigation
      #content.container
        block content
      #push
    #footer-wrapper
      footer
        .right
          script(data-gratipay-username="esdiscuss", src="https://grtp.co/v1.js")
        p
          | Developed by&nbsp;
          a.jepso(href='http://www.forbeslindesay.co.uk') @ForbesLindesay
          |  hosted by&nbsp;
          a.jepso(href='https://www.nodejitsu.com/') @nodejitsu
          |  run by&nbsp;
          a.jepso(href='https://www.jepso.com') JEPSO
        p By using this site you consent to the use of cookies

    script(src='https://code.jquery.com/jquery-1.10.1.min.js')
    script(src='https://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
    block scripts
