doctype html
html
  head
    meta(charset='utf-8')
    block title
      title JacksonScript.org
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block head
    link(href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css', rel='stylesheet')
    link(href='/style.css', rel='stylesheet')
  body
    #wrap
      .navbar.navbar-fixed-top.navbar-inverse
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            .pull-left
              img.logo(src=asset('/logo.svg'))
            a.navbar-brand(href='/') JacksonScript.org
          .collapse.navbar-collapse
            ul.nav.navbar-nav
              block navsections
                li
                  a(href='/1') Discussion
                li
                  a(href='/meetings') Meetings
                li
                  a(href='/about') About
            block navigation
      #content.container
        block content
      #push
    #footer-wrapper
      footer
        p
          | Forked from&nbsp;
          a.jepso(href='https://github.com/esdiscuss/esdiscuss.org') ES Discuss
        p By using this site you consent to the use of cookies

    script(src='//code.jquery.com/jquery-1.10.1.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
    block scripts
