extends layout

block title
  title JacksonScript.org - Login

block scripts
  script(src='https://login.persona.org/include.js')
  script(src=asset('/client/login.js'))

block navigation
  ul.nav.pull-right
    li.text Login

block content
  .jumbotron.masthead
    .row
      .col-md-12
        h2 LOGIN
        p To edit any content you must validate your e-mail by logging in.
    .row
      .col-md-4.col-md-offset-2
        button#browserid.btn.btn-large.btn-primary.btn-block
          i.icon-envelope-alt
          | &nbsp; Browser ID
      .col-md-4
        a(href='/auth/github?url=' + encodeURIComponent(url)).btn.btn-large.btn-primary.btn-block
          i.icon-github-alt
          | &nbsp; GitHub

