extends layout

block title
  title JacksonScript.org - Meetings

block navsections
  li
    a(href='/1') Discussion
  li.active
    a(href='/meetings') Meetings
  li
    a(href='/about') About

block content
  .row
    .col-md-12
      h2 JacksonScript Meetings
  .row
    .col-md-12
      p
        | These notes are the collective work of the members of&nbsp;
        a(href='https://jacksonscript.org/') JacksonScript
        | . To contribute, please submit a pull request to&nbsp;
        a(href='https://github.com/JacksonScript/meetings') this
        |  GitHub repository. It's hoped that these notes will provide a readable, useful archive of past JacksonScript events.
  - var m = months.sort(function (a, b) { return a.month < b.month ? 1 : -1 })
  for month in m
    .row
      .col-md-12
        h3= month.month
    .row
      .col-md-12
        ul.topics
          - var days = month.days.sort()
          - var files = month.files.sort()
          for day in days
            li.topic-title
              a(href='/meetings/' + day)
                h4= day
          for file in files
            li.topic-title
              a(href='/meetings/' + month.month + '/' + file)
                h4= file
