extends layout

block title
  title JacksonScript.org - Meetings

block navsections
  li
    a(href='/1') Discussion
  li.active
    a(href='/meetings') Meetings
  li
    a(href='/about') About

block scripts
  script(src=asset('/client/meetings-listing.js'))

block content
  .row
    .col-md-12
      h2 JacksonScript Meetings
  .row
    .col-md-12
      p
        | These notes are the collective work of the members of&nbsp;
        a(href='https://jacksonscript.org/') JacksonScript
        | . To contribute, please submit a pull request to&nbsp;
        a(href='https://github.com/JacksonScript/meetings') this
        |  GitHub repository. It's hoped that these notes will provide a readable, useful archive of past JacksonScript events.
  .row
    .col-md-12
      h3 General Information
  ul.topics
    for page in pages
      li.topic-title
        a(href='/pages/' + page.title)
          h4
            i.icon-file-text
            | &nbsp;
            = page.title
  - var m = meetups.sort(function (a, b) { return a.meetupDay < b.meetupDay ? 1 : -1 })
  for meetup in m
    .row
      .col-md-12
        h3
          = meetup.meetupDay
          small
            &nbsp;&mdash;&nbsp;
            a(rel="popover", data-toggle="popover", data-placement="top", title="Add to Calendar", data-content=meetup.location.popoverContent)
              i.icon-calendar
              | &nbsp;
              = moment(meetup.location.timeStart).format('h:mm a')
              | &nbsp;-&nbsp;
              = moment(meetup.location.timeEnd).format('h:mm a ')
            &nbsp;&mdash;&nbsp;
            a(target="_blank", href="//maps.google.com?q="+meetup.location.address.replace(' ', '+'))
              i.icon-map-marker
              | &nbsp;
              = meetup.location.name + " "
            if meetup.location.url
              a(href=meetup.location.url, target="_blank").location-url
                small
                  = "("
                  i.icon-external-link
                  | &nbsp;
                  = "website)"
    .row
      .col-md-12
        ul.topics
          - var assets = meetup.assets.sort()
          for asset in assets
            li.topic-title
              if asset.html
                a(href='/meetings/' + meetup.meetupDay + '/' + asset.title)
                  h4
                    i.icon-file-text
                    | &nbsp;
                    = asset.title
              else
                a(href='//static.jacksonscript.org/' + meetup.meetupDay + '/' + asset.title + '/')
                  h4
                    i.icon-desktop
                    | &nbsp;
                    = asset.title
