extends layout

block title
  title= "ES Discuss - Notes " + date

block navsections
  li
    a(href='/topics') Topics
  li.active
    a(href='/notes') Notes
  li
    a(href='/about') About

block navigation
  ul.nav.pull-right
    li.text #{date}

block content
  .row
    .col-md-12
      != content
