extends layout

block title
  title ES Discuss - Notes

block navsections
  li
    a(href='/1') Topics
  li.active
    a(href='/notes') Notes
  li
    a(href='/about') About

block content
  .row
    .col-md-12
      h2 Official Meeting Minutes
  .row
    .col-md-12
      p
        | These notes are the official TC39 meeting minutes taken by&nbsp;
        a(href='http://twitter.com/rwaldron') @rwaldron
        | . They are copied from&nbsp;
        a(href='https://github.com/rwaldron/tc39-notes/') this
        |  GitHub repository. It's hoped that they will offer a fairly readable, useful insight into how the committee works.
  - var m = months.sort(function (a, b) { return a.month < b.month ? 1 : -1 })
  for month in m
    .row
      .col-md-12
        h3= month.month
    .row
      .col-md-12
        ul.topics
          - var days = month.days.sort()
          - var files = month.files.sort()
          for day in days
            li.topic-title
              a(href='/notes/' + day)
                h4= day
          for file in files
            li.topic-title
              a(href='/notes/' + month.month + '/' + file)
                h4= month.fileData[file].title || file
