extends layout

block title
  title= "ES Discuss - Notes " + date

block head
  link(href='https://yandex.st/highlightjs/8.0/styles/default.min.css', rel='stylesheet')

block navsections
  li
    a(href='/1') Topics
  li.active
    a(href='/notes') Notes
  li
    a(href='/about') About

block navigation
  ul.nav.pull-right
    li.text #{date}

block content
  .row
    .col-md-12
      != content
