extends layout

block title
  title= "JacksonScript.org - Meeting " + date

block navsections
  li
    a(href='/1') Discussion
  li.active
    a(href='/notes') Meetings
  li
    a(href='/about') About

block navigation
  ul.nav.pull-right
    li.text #{date}

block content
  .row
    .col-md-12
      != content
