extends layout

block navsections
  li
    a(href='/1') Topics
  li.active
    a(href='/notes') Notes

block content
  .row
    .span12
      h2 Official Meeting Minutes
  .row
    // .span1.profile-image.hidden-phone
    //   a(href='http://twitter.com/rwaldron')
    //     img(src='https://secure.gravatar.com/avatar/36c697d974542aadaee06a0f39cb1437?s=100&d=mm')
    .span12
      blockquote
        p
          | These are notes are the official TC39 meeting minutes taken by&nbsp;
          a(href='http://twitter.com/rwaldron') @rwldrn
          | . They are copied from&nbsp;
          a(href='https://github.com/rwldrn/tc39-notes/') this
          |  GitHub repository. It's hoped that they will offer a fairly readable, useful insight into how the committee works.
  - months = months.sort(function (a, b) { return a.month < b.month ? 1 : -1 })
  for month in months
    .row
      .span12
        h3= month.month
    .row
      .span12
        ul.topics
          - var days = month.days.sort()
          for day in days
            li.topic-title
              h4
                a(href='/notes/' + month.month + '-' + day)= month.month + '-' + day