extends layout

block navsections
  li
    a(href='/1') Topics
  li.active
    a(href='/notes') Notes
  li
    a(href='/about') About

block content
  .row
    .span12
      h2 Official Meeting Minutes
  .row
    .span12
      p
        | These are notes are the official TC39 meeting minutes taken by&nbsp;
        a(href='http://twitter.com/rwaldron') @rwldrn
        | . They are copied from&nbsp;
        a(href='https://github.com/rwldrn/tc39-notes/') this
        |  GitHub repository. It's hoped that they will offer a fairly readable, useful insight into how the committee works.
  - var m = months.sort(function (a, b) { return a.month < b.month ? 1 : -1 })
  for month in m
    .row
      .span12
        h3= month.month
    .row
      .span12
        ul.topics
          - var days = month.days.sort()
          for day in days
            li.topic-title
              a(href='/notes/' + month.month + '-' + day)
                h4= month.month + '-' + day